body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.header,
.description,
.main-content,
.quote-content,
.signup-content,
.footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header,
.description {
  background-color: #1f2937;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 700;
  padding-top: 16px;
  padding-bottom: 16px;
}

.top-links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.top-links a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  padding: 24px;
}

.hero-title {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  padding-bottom: 0;
  max-width: 360px;
}

.description p {
  color: #e5e7eb;
  font-size: 18px;
  margin-top: -24px;
  max-width: 460px;
}

.hero-image {
  background-color: lightgray;
  border: gray solid 2px;
  border-radius: 8px;
  padding: 100px;
  margin-bottom: 128px;
}

.hero-button {
  background-color: #3882f6;
  border: #3882f6 2px;
  border-radius: 8px;
  padding: 6px 24px 6px 24px;
  margin-bottom: 128px;
  color: #e5e7eb;
  font-weight: 700;
  font-size: 18px;
}

.main-content {
  flex-direction: column;
}

.all-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 56px;
}

.card {
  height: 200px;
  width: 200px;
  margin: 32px;
  margin-bottom: 24px;
  padding-bottom: 48px;
}

.cards-img {
  width: 160px;
  height: 160px;
  border: #3882f6 solid 6px;
  border-radius: 12px;
  margin-bottom: 16px;
}

.cards-text {
  width: 160px;
  height: 160px;
  text-align: center;
}

.main-title {
  font-size: 36px;
  color: #1f2937;
}

.quote-content {
  background-color: #e5e7eb;
}

.quote-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 48px;
  padding: 36px;
  max-width: 900px;
}

.quote-text p {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
}

.quote-text .author {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  margin-left: 400px;
  margin-top: -48px;
}
